doctype html
html(lang="pt")
  head
    title #{title}
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1, shrink-to-fit=no")
    block links
      link(rel="stylesheet", href="css/style.css")
  body
    block content
    block scripts
        script(src="https://kit.fontawesome.com/0c08de019e.js" crossorigin="anonymous")
