<!DOCTYPE html>
<html lang="pt">
	<head>
		<title>Api Jopiter Back-end</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/style.css" />
		<script src="https://kit.fontawesome.com/0c08de019e.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<div id="search-section">
			<center>
				<img src="/img/eco_ru.png">
				<div>
				<input id="search" type="text" placeholder="Ex: Feijoada">
				<button><i class="fa-solid fa-magnifying-glass"></i></button>
				</div>
			</center>
		</div>
		<div id="result-section">
			<center>
				<img src="/img/salad.png">
				<a href="https://www.flaticon.com/free-icons/salad" title="salad icons">Salad icons created by Freepik - Flaticon</a>
				<ul>
					<li>
						<div class="table">Nutricional</div>
						<progress id="nutricional" value="4" max="5">
					</li>
					<li>
						<div class="table">Sensorial</div>
						<progress id="sensorial" value="0" max="5">
					</li>
					<li>
						<div class="table">Ambiental</div>
						<progress id="ambiental" value="0" max="5">
					</li>
					<li>
						<div class="table">SocioAmbiental</div>
						<progress id="socio-ambiental" value="0" max="5">
					</li>
				</ul>
			</center>
		</div>
	</body>
</html>
